/* typography.scss */

body {
  font-family: "Montserrat", "Gotham", "Proxima Nova", sans-serif;
}

h1, h2 {
  text-align: center;
  font-weight: 200;
  margin: 0;

  .hero & {
    color: $white;
    text-shadow: rgba(0,0,0,.3) 1px 1px 4px;
    padding: 0.15em 0;
  }
}

h1 {
  color: $darker-grey;
  font-size: 2.25em;
  padding: 1em 0 0;

  .hero & {
    font-weight: 300;
  }
}

h2 {
  color: $grey;
  font-size: 1.125em;
  line-height: 1.5;
  padding: 0.3em 0 1.5em;
}

p {
  font-size: 0.875em;
  font-weight: 200;
  line-height: 1.55;

  &.lead {
    font-size: 1em;
    margin-top: 0;
  }
}


/* Dark */

.dark {
  h1, h2 {
    color: $white;
  }

  h2 {
    opacity: 0.6;
  }

  p {
    color: $white;
  }
}


/* Media Queries */

@media screen and (min-width: $breakpoint-mobile) {

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;

    &.lead {
      font-size: 1.5em;
    }
  }

}

@media screen and (min-width: $breakpoint-tablet) {

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 1.875em;
  }

}
