/* variables.scss */

// Colors
$white: #fff;
$dark-grey: #414141;
$darker-grey: #232323;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-mobile-lg: 600px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1300px;

// Containers
$container-margin-mobile: 1.875em;
$container-margin-tablet: 3.25em;
$container-margin-desktop: 7em;
