/* hero.scss */

.hero {
  margin-top: 102px;
  padding: 150px 0 140px;
  position: relative;
  background: #414141 url('../img/hero-bg.jpg') center bottom;
  background-size: cover;

  .container {
    position: relative;
    max-width: none;
  }

  .controls {
    position: absolute;
    top: calc(50% - 27px);
    width: 100%;
    display: none;

    .control {
      width: 54px;
      height: 54px;
      position: absolute;
      background-color: rgba(0,0,0,.3);
      background-size: 100%;
      background-repeat: no-repeat;
      transition: .2s;

      &:hover {
        background-color: rgba(0,0,0,.8);
      }

      &.control-left {
        left: 0;
        background-image: url('../img/arrow-left.png');
      }

      &.control-right {
        right: 0;
        background-image: url('../img/arrow-right.png');
      }
    }

    .ctrl-preview {
      height: 54px;
      position: absolute;
      transition: width .4s;
      transition-delay: .2s;
      width: 0;
      overflow: hidden;

      &.active {
        width: 81px;
      }

      img {
        height: 100%;
      }

      &.preview-left {
        left: 54px;

        img {
          float: right;
        }
      }

      &.preview-right {
        right: 54px;

        img {
          float: left;
        }
      }
    }
  }
}


/* Media Queries */

@media screen and (min-width: $breakpoint-mobile) {

  .hero {
    padding-bottom: 150px;

    .controls {
      display: block;
    }
  }

}

@media screen and (min-width: $breakpoint-tablet) {

  .hero {
    margin-top: 0;
    padding-top: 230px;

    .controls {
      top: calc(50% - 36px);

      .control {
        width: 72px;
        height: 72px;
      }

      .ctrl-preview {
        height: 72px;

        &.active {
          width: 109px;
        }

        &.preview-left {
          left: 72px;
        }

        &.preview-right {
          right: 72px;
        }
      }
    }
  }

}
