/* hero.scss */

.hero {
  margin-top: 102px;
  padding: 110px 0 140px;
  position: relative;
  background: #414141 url('../img/hero-bg.jpg') center bottom;
  background-size: cover;

  .container {
    position: relative;
    margin: 0;
    max-width: none;
  }

  .controls {
    position: absolute;
    top: calc(50% - 27px);
    width: 100%;
    display: none;

    .control {
      width: 54px;
      height: 54px;
      position: absolute;
      background-color: rgba(0,0,0,0.3);
      background-size: 100%;
      background-repeat: no-repeat;

      &.control-left {
        left: 0;
        background-image: url('../img/arrow-left.png');
      }

      &.control-right {
        right: 0;
        background-image: url('../img/arrow-right.png');
      }
    }
  }
}


/* Media Queries */

@media screen and (min-width: $breakpoint-mobile) {

  .hero {
    padding-top: 120px;
    padding-bottom: 150px;

    .controls {
      display: block;
    }
  }

}

@media screen and (min-width: $breakpoint-tablet) {

  .hero {
    margin-top: 0;
    padding-top: 230px;

    .controls {
      top: calc(50% - 36px);

      .control {
        width: 72px;
        height: 72px;
      }
    }
  }

}
