/* icons.scss */

.social-icons {
  text-align: center;
  font-size: 0;
  line-height: 1;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  display: inline-block;
  background-size: cover;

  &:last-of-type {
    margin-right: 0;
  }

  &.facebook {
    background-image: url('../img/icon-facebook.png');
  }

  &.twitter {
    background-image: url('../img/icon-twitter.png');
  }

  &.linkedin {
    background-image: url('../img/icon-linkedin.png');
  }
}
