/* icons.scss */

.social-icons {
  text-align: center;
  font-size: 0;
  line-height: 1;

  a:last-child {
    .social-icon {
      margin-right: 0;
    }
  }

  nav & {
    float: right;
    margin-left: 0;
    display: none;
  }
}

.social-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  display: inline-block;
  background-size: cover;

  nav & {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    transition: .4s;

    &:hover {
      opacity: 1;
    }
  }

  &.facebook {
    background-image: url('../img/icon-facebook.png');
  }

  &.twitter {
    background-image: url('../img/icon-twitter.png');
  }

  &.linkedin {
    background-image: url('../img/icon-linkedin.png');
  }
}


/* Media Queries */

@media screen and (min-width: $breakpoint-mobile) {

  nav .social-icons {
    display: block;
  }

}

@media screen and (min-width: $breakpoint-mobile-lg) {

  nav .social-icons {
    margin-left: 1.5rem;
  }

}
