/* nav.scss */

nav {
  width: 100%;
  background-color: rgba(0,0,0,.3);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background-color .4s;

  &.scroll {
    background-color: rgba(0,0,0,.6);
  }

  .container {
    margin: 0;
  }

  #logo {
    height: 52px;
    text-align: right;
    padding: 25px 30px;
    background-color: #232323;

    img {
      height: 100%;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 0;
    text-align: center;

    a {
      text-decoration: none;

      &:first-of-type {
        display: none;
      }
    }

    li {
      color: rgba(255,255,255,.8);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 400;
      padding: 0.5em;
      cursor: pointer;
      transition: .4s;
      display: inline;

      &:hover, &.active {
        color: rgba(255,255,255,1);
      }
    }
  }
}


/* Media Queries */

@media screen and (min-width: $breakpoint-mobile) {

  nav {
    #logo {
      text-align: left;
      background-color: #232323;
    }

    ul {
      text-align: left;
      padding: 0 18px;

      a {
        &:first-of-type {
          display: initial;
        }
      }

      li {
        margin-left: 0.2em;
      }
    }
  }

}

@media screen and (min-width: $breakpoint-tablet) {

  nav {
    background-color: rgba(0,0,0,.5);
    padding: 12px 0;

    .container {
      margin: 0 $container-margin-tablet;
    }

    #logo {
      float: left;
      background-color: transparent;
      padding: 0;
      height: 38px;
    }

    ul {
      float: right;
      padding: 0;
      margin: 8px -12px 0 0;
      margin-top: 8px;
      margin-right: -12px;
      margin-bottom: 0;

      li {
        font-size: 1em;
        margin-left: 0;
      }
    }
  }

}

@media screen and (min-width: $breakpoint-desktop) {

  nav {
    .container {
      margin: 0 $container-margin-desktop;
    }

    ul li {
      margin-left: 0.5em;
    }
  }

}
