/* twitter.scss */

#twitter {
  background-color: #5ABDE4;
  padding: 24px 0;

  img {
    float: left;
    width: 36px;
    height: auto;
    margin-top: 4px;
    margin-right: 15px;
  }

  p {
    font-size: 0.875em;
    color: #fff;
    letter-spacing: 0.03em;
    margin: 0;
    float: left;
    width: calc(100% - 51px);

    strong {
      font-weight: 400;
    }
  }
}


/* Media Queries */

@media screen and (min-width: $breakpoint-mobile) {

  #twitter {
    padding: 35px 0;

    img {
      width: 64px;
      margin-right: 25px;
    }

    p {
      font-size: 1.125em;
      width: calc(100% - 89px);
    }
  }

}

@media screen and (min-width: $breakpoint-tablet) {

  #twitter {
    padding: 50px 0;

    img {
      width: 76px;
      margin-right: 35px;
    }

    p {
      font-size: 1.25em;
      width: calc(100% - 111px);
    }
  }

}

@media screen and (min-width: $breakpoint-desktop) {

  #twitter {
    padding: 60px 0;

    img {
      margin-right: 40px;
    }

    p {
      font-size: 1.5em;
      width: calc(100% - 116px);
    }
  }

}
