/* projects.scss */

.project-wrapper {
  .hero {
    background-position: center center;
    padding: 140px 0 100px;

    .container {
      margin: 0;
    }
  }

  .projects {
    margin-bottom: 0;
  }
}

.project-logo {
  width: 70%;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.process-image {
  margin-bottom: 3em;

  img {
    width: 100%;
  }
}

#results {
  margin-top: 4em;

  .dark {
    padding-bottom: 4em;
  }

  img {
    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#more-projects {
  .projects a:nth-child(4) {
    display: none;
  }
}


/* Projects */

#proj-changehack {
  .hero {
    background-image: url('../img/projects/changehack/bg.jpg');
  }
}

#proj-ldrly {
  .hero {
    background-image: url('../img/projects/ldrly/bg.jpg');
  }
}

#proj-treefort {
  .hero {
    background-image: url('../img/projects/treefort/bg.jpg');
  }
}

#proj-esg {
  .hero {
    background-image: url('../img/projects/esg/bg.jpg');
  }
}

#proj-mentor {
  .hero {
    background-image: url('../img/projects/mentor/bg.jpg');
  }
}

#proj-thousand-network {
  .hero {
    background-image: url('../img/projects/thousand-network/bg.jpg');
  }
}

#proj-tedx {
  .hero {
    background-image: url('../img/projects/tedx/bg.jpg');
  }
}

#proj-canucks {
  .hero {
    background-image: url('../img/projects/canucks/bg.jpg');
  }
}

#proj-launch-academy {
  .hero {
    background-image: url('../img/projects/launch-academy/bg.jpg');
  }
}

#proj-my-cap-is {
  .hero {
    background-image: url('../img/projects/my-cap-is/bg.jpg');
  }
}

#proj-save-inte {
  .hero {
    background-image: url('../img/projects/save-inte/bg.jpg');
  }
}

#proj-blenz {
  .hero {
    background-image: url('../img/projects/blenz/bg.jpg');
  }
}


/* Media Queries */

@media screen and (min-width: $breakpoint-mobile) {

  .project-logo {
    width: 60%;
  }

  #more-projects {
    .projects a:nth-child(4) {
      display: block;
    }
  }

}

@media screen and (min-width: $breakpoint-tablet) {

  .project-wrapper {
    .hero {
      background-position: center center;
      padding-top: 160px;
    }
  }

  .project-logo {
    width: 50%;
  }

  #more-projects {
    .projects a:nth-child(4) {
      display: none;
    }
  }

}

@media screen and (min-width: $breakpoint-desktop) {

  .project-logo {
    width: 40%;
  }

  .projects {
    margin-bottom: 60px;
  }

}

@media screen and (min-width: $breakpoint-desktop-lg) {

  .project-logo {
    max-width: 500px;
  }

  .process-image {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #more-projects {
    .projects a:nth-child(4) {
      display: block;
    }
  }

}
